<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="user">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I am Philip, currently a student at YRGO's Game Creator Programmer program. I had very limited
         programming skills before enrolling in the autumn of 2023 but it has been an intense experience and
         after only one year I have learnt enough C# in Unity and C++ in Unreal 5 to make simple games in 2D
         and 3D. To demonstrate my dedication to learning this wonderful art, I could point out that I have
         been balancing school with both work and family. Did I mention it has been intense?
        </p>
        <p> The fruits of my labours are outlined in the portfolio section, the section you casually
         scrolled past to get to read about me. Technically I suppose everything on this site is all about me,
         so, in that sense you really can't go wrong.
        </p>
        <p>Coding games has been a long nurtured dream that I abandoned long ago (until recently, obviously)
          and so I have mostly done lots of other stuff. This includes working as a quality assurance consultant
          for over ten years, a brief stint (a year or so) doing economics for a logistics company that worked
          with and shared warehouse with Bergsala (Nintendo's distributor in Scandinavia), graduating from the
          University of Hull with a BA in PPE, and working as a bicycle courier in Gothenburg. For more
          detailed information, download my CV.
        </p> 
      </div>
      <div class="col-lg-4">
        <p>Other than committing myself to the art of creating games, I am a father, boardgamer, philosopher,
         test driver, beekeeper and trained killer. If we were working together we would have the best of times!
        </p>
        <p>I didn't list gamer above because that kind of goes without saying. However, I suck at most games
          partly because I'm generally more interested in story or exploration and partly because I prefer
          playing as relaxation. Saying that, I have played computer games for a long time but some of my
          most treasured memories come from Pirates, Wing Commander, Zelda (take your pick), GTA3 and Left4Dead.
          Having had less time to play the past ten years (yeah, something happened) I have become something of
          a Nintendo fan-boy, playing all those Zeldas and loving all (except for Tears of the Kingdom), the most
          excellent Pikmin games, Mario Kart (still think Double Dash nailed it), and am eagerly anticipating
          the release of the next Metroid Prime.
        </p>
        <p>What about MMOs? To tell you the truth, I am too frightened of MMOs to play. I still have never created
          an account for any of them, because I am absolutely certain that I would never manage to tear myself
          away from it. I love roleplaying, both pen and paper and computer (although with computer rpgs I tend
          to favour story and action, so action rpgs) for the same reason a half decent MMO would lure me in
          never to be seen again: immersion. Now you know!
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="CVPhilip2024.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download my CV
        </a>
      </div>
    </div>
  </div>
</section>
